.chute {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #b1b386;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 300px;
    padding: 6px;
    width: 100%;
}

.containerSprite {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 3px solid black;
}

.spriteDesc {
    object-fit: cover;
    width: 90%;
    height: 90%;
}

.nome {
    font-size: 1.2rem;
    font-weight: bold;
}